// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    display: flex;
    justify-content: center;
    align-content: center;
}
.post-content {
    display: grid;
    place-items: center;
}
h1 {
    text-align: center;
    font-size: 120px;
}

footer {
    background: #718096;
    padding: 20px;
    text-align: center;
}

#comment {
    border: 1px #718096 solid;
    width: 50%;
}

.comment-header {
    margin-top: 30px;
}
a:hover {
    text-decoration: none;
}
main {
    margin: 40px;
    width: 800px;
}
