// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}
h1 {
    text-align: center;
    font-size: 60px;
    padding-top: 50px;
    color: $headline;
}
p {
    color: $paragraph;
}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: $button-text;
    font-size: 20px;
    background: $button;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    &:hover {
        background: $highlight;
        text-decoration: none;
    }
}

footer {
    background: #718096;
    padding: 20px;
    text-align: center;
}
a {
    color: $button;
}
a:hover {
    color: $highlight;
    text-decoration: none;
}
p {
    font-size: 18px;
    font-weight: 700;
}
main {
    padding: 20px;
}
#app, .main-content{
    width: 100%;
}
.delete-comment-button {
    margin-top: 20px;
}
.alert-danger {
    margin-top: 10px;
}
.delete-comment-button {
    margin-top: 40px;
}
.login-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    a {
        padding: 10px;
        font-size: 25px;
    }
}
.post-container {
    .comment-content {
        border-top: 1px solid $stroke;
        border-bottom: 1px solid $stroke;
        padding: 10px 0;
    }
    .small {
        font-size: 18px;
        font-weight: 400;
    }
    .comment-header {
        font-size: 40px;
        text-align: center;
    }
    .single-post {
        margin-top: 100px;
    }
}
.post-content {
    color: $paragraph;
    display: grid;
    place-items: center;
    .post-form {
        width: 100%;
        display: flex;
        justify-content: center;
        form { 
            font-size: 22px;
            padding: 20px;
            $elements: 10;
            @for $i from 0 to $elements {
                :nth-child(#{$i + 1}) {
                    padding-top: 10px;
                }
            }
            .top-comment-label {
                text-align: center;
                width: 100%;
                font-size: 30px;
            }
            .comment {
                border: 1px #718096 solid;
                width: 100%;
            }
        
        }
    }
}
@media only screen and (min-width: 800px) {
    h1 {
        padding-top: 20px;
        font-size: 120px;
    }
}
