// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


footer {
    background: #718096;
    padding: 20px;
    text-align: center;
}

#comment {
    border: 1px #718096 solid;
    width: 100%;
}

.comment-header {
    margin-top: 30px;
}
a:hover {
    text-decoration: none;
}